body{
    background-color: ghostwhite;
    border-style: solid;
}

img{
     margin-left: 10px;
}

h1 {
  color: navy;
  margin-left: 20px;
    margin-left: 10px;
}

h2 {
  color: royalblue;
    border-style: outset;
  border-color: white;
    margin-left: 10px;
}

p{
    margin-left: 15px; 
}


img{
     margin-left: 10px;
}

h1 {
  color: navy;
  margin-left: 20px;
    margin-left: 10px;
}

h2 {
  color: royalblue;
    border-style: outset;
  border-color: white;
    margin-left: 10px;
}

p{
    margin-left: 15px; 
}
