
body{
    background-color: ghostwhite;
    border-style: solid;
    border-color: white;
}

img{
     margin-left: 10px;
}

h1 {
  color: darkslateblue;
  margin-left: 20px;
    margin-left: 10px;
}

h2 {
  color: lightcoral;
    border-style: outset;
  border-color: white;
    margin-left: 10px;
}

p{
    margin-left: 15px;
    color: darkslateblue;
}